@import "tailwindcss";

@theme {
  /* Colors */
  --color-primary: #42389e;
  --color-primaryDark: #2e2a6a;
  --color-accent: #f5b335;
  --color-mutedBg: #f3f4fa;
  --color-tableHeader: #2f2a73;

  /* Neutral Colors */
  --color-neutral-900: #0e121b;
}
